/* CSS declarations go here */
@import "/packages/bootstrap3-less/bootstrap.import.less";
@import "/client/fonts.import.less";


@font-size: 14px;     // Your base font-size in pixels
@content-color: #606060;
@robot-grey: #4F4D4D;

@robot-dark-grey: #212121;
@robot-med-grey: #686766;
@robot-light-grey: #d2d2d2;
@headline-color: #951c23;
@beer-heading-color: @robot-dark-grey;
@sidebar-color: #ecd7ac;
@sidebar-background-color: #686765;

/* Override margin on navbar */
.navbar {
  margin-bottom: 0;
}

/* Base Styles for All Views: Browser/Full Screen/Print */

h1 {
  color: @headline-color;
  font-family: "OstrichSansMedium";
  font-weight: normal;
  font-size: 48px;
  padding: 0;
  margin: 0;

}

h2 {
  font-family: "OstrichSansBlack";
  font-weight: normal;
  font-size: 42px;
  padding: 0;
  margin: 0;
  color: #918f8b;
}

p {
  margin: 0;
}

#logo-header {
  height: 130px;
  background: #000;
  position: relative;

  h1 {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 100px
  }
  #logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 90px;
    width: 400px;
  }
}

.price {
    font-size: 18px;
    color: #918f8b;
    
    span {
      font-family: 'OstrichSansBlack';
      font-size: 22px;
      color: #000;
    }
}
  
.form-cancel {
  margin-top: 10px;
}


#ontap {
    table {
      margin: 0 0 50px 0;
    }
    .horizontal-wordmark-img {
      width: 500px;
    }
    
    .name {
    font-family: 'OstrichSansMedium';
      font-weight: normal;
      font-size: 36px;
      color: @headline-color;
      padding: 0 0 0 20px;
  }
  
  thead {
    background-color: #918f8b;
  }
  
  th {
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
      
      &.th-with-subtitle {    
        
        .th-subtitle {
            font-size: 12px;
            font-weight: normal;
        }
      }
  }
  th:first-child {
    padding: 0 0 0 20px;
  }
  td {
    vertical-align: middle;
  }
  
}

/////////////////////////////////
// Footer
/////////////////////////////////

#footer {
  font-size: 18px;
  color: white;
  background-color: @robot-dark-grey;
  padding: 10px 0 30px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    color: #ccc;
    margin: 0;
  }
}


/* Full Screen Overrides */

.fullscreenMixin {
  h2 {
      color: #918f8b;
      font-size: 62px;
    }
  p {
      font-family: "Helvetica", Arial, sans-serif;
      font-size: 28px;
    }
  .price {
    font-size: 28px;
    span {
      font-size: 42px;  
    }
  }
  .col-md-6 .price span {
    line-height: 42px;
  }
  #footer {
    p {
      font-size: 26px;
    }
  }
  
  #ontap {
  font-size: 26px;
   .name {
      font-size: 44px;
      font-family: 'OstrichSansBlack';
  }
  
    th {
    font-size: 24px;
        
        &.th-with-subtitle {
      .th-subtitle {
              font-size: 20px;
          }
        }
    }

    tr {
      color: @robot-dark-grey;
    }
  
  }
  .hidden-fullscreen, 
  .hidden-print {
    display: none;
  }
}

html:fullscreen {
  .fullscreenMixin();
}

html:-moz-full-screen {
  .fullscreenMixin();
}
 
html:-webkit-full-screen {
  .fullscreenMixin();
}
 
html:-ms-fullscreen {
  .fullscreenMixin();
  width: 100%; /* needed to center contents in IE */
}


@media print {


  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  @page {
    margin: 0 !important;
    padding: 0 !important;
  }
  * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   } 

  #logo-header {
  background: #000 !important;
  h1 {
    color: #fff !important;

    }
  }
  .table {
        td,
        th {
           background-color: #fff !important;
        }
        thead th,
        thead th .th-subtitle {
        background-color: #918f8b !important;
        color: #fff !important;

      }
      
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  #footer {
    position: static;
    clear: left;
  }


  /* Sizes for 4x6 */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 8px;
  }
  #logo-header {
    height: 60px;

    h1 {
      top: 10px;
      left: 10px;
      font-size: 50px
    }
    #logo {
      
      top: 10px;
      right: 10px;
      height: 45px;
      width: 200px;
    }
  }

  .price {
      font-size: 8px;
      
      span {
        font-size: 10px;
      }
  }

  #ontap {
      
      font-size: 10px;
      
      .name {
        font-size: 18px;
    }
    
    table {
        margin: 0 0 10px 0;
      }
    
    th {

        &.th-with-subtitle {    
          
          .th-subtitle {
              font-size: 8px;
          }
        }
    }
    
    
  }

  /////////////////////////////////
  // Footer
  /////////////////////////////////

  #footer {
    font-size: 8px;
    
    .pull-right {
      float: right !important;
      text-align: right;
    }
  }
}

  /////////////////////////////////
  // Fake 6x4
  /////////////////////////////////

html.print {
  width: 6in;
  .hidden-print {
    display: none;
  }
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  @page {
    margin: 0 !important;
    padding: 0 !important;
  }
  * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   } 

  #logo-header {
  background: #000 !important;
  h1 {
    color: #fff !important;

    }
  }
  .table {
        td,
        th {
           background-color: #fff !important;
        }
        thead th,
        thead th .th-subtitle {
        background-color: #918f8b !important;
        color: #fff !important;

      }
      
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  #footer {
    position: static;
    clear: left;
  }


  /* Sizes for 4x6 */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 8px;
  }
  #logo-header {
    height: 60px;

    h1 {
      top: 10px;
      left: 10px;
      font-size: 50px
    }
    #logo {
      
      top: 10px;
      right: 10px;
      height: 45px;
      width: 200px;
    }
  }

  .price {
      font-size: 8px;
      
      span {
        font-size: 10px;
      }
  }

  #ontap {
      
      font-size: 10px;
      
      .name {
        font-size: 18px;
    }
    
    table {
        margin: 0 0 10px 0;
      }
    
    th {

        &.th-with-subtitle {    
          
          .th-subtitle {
              font-size: 8px;
          }
        }
    }
    
    
  }

  /////////////////////////////////
  // Footer
  /////////////////////////////////

  #footer {
    font-size: 8px;
    
    .pull-right {
      float: right !important;
      text-align: right;
    }
  }
}