/* CSS declarations go here */
@import "/packages/bootstrap3-less/bootstrap.import.less";
@import "/client/fonts.import.less";


@font-size: 14px;     // Your base font-size in pixels
@content-color: #606060;
@headline-color: #951c23;
@sidebar-color: #ecd7ac;
@sidebar-background-color: #686765;
@robot-grey: #4F4D4D;


html:fullscreen {
  background: red;
}

html:-moz-full-screen {
  background: red;
}
 
html:-webkit-full-screen {
  #ontap {
    color: @headline-color;
    font-family: "OstrichSansMedium";
    font-weight: normal;
    font-size: 49px;
    padding-bottom: 23px;
    padding-top: 60px;
    margin-top: 0;
  }
}
 
html:-ms-fullscreen {
  background: red;
  width: 100%; /* needed to center contents in IE */
}

h1 {
  color: @headline-color;
  font-family: "OstrichSansMedium";
  font-weight: normal;
  font-size: 49px;
  padding-bottom: 23px;
  padding-top: 60px;
  margin-top: 0;

}