/* CSS declarations go here */
@import "/packages/bootstrap3-less/bootstrap.import.less";


html:fullscreen {
  background: red;
}

html:-moz-full-screen {
  background: red;
}
 
html:-webkit-full-screen {
  background: red;
}
 
html:-ms-fullscreen {
  background: red;
  width: 100%; /* needed to center contents in IE */
}
 