@media (max-width: 767px) {
  #logo-header h1 {
    font-size: 36px;
  }
  .drink-menu .name {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #logo-header {
    h1 {
      font-size: 80px
    }
    #logo {
      max-height: 100px;
    }
  }
}