@media (max-width: 767px) {
  .drink-menu .name {
    font-size: 24px;
  }
  .col-xs-5 {
    padding-left: 0px;
  }
  .col-xs-7 {
    padding-right: 0px;
  }
  h1 {
    font-size: 40px;
  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media (min-width: 600px) and (max-width: 767px) {
  #logo-header-lrg h1 {
    font-size: 52px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #logo-header-lrg {
    h1 {
      font-size: 80px
    }
    #logo {
      max-height: 100px;
    }
  }
}

// xs = max-width: 767px
// sm = min-width: 768px
// md = min-width: 992px
// lg = min-width: 1200px