<template name="beverages">
    <div id="beverages" class="drink-menu">
            <div id="logo-header"><h1>Beverage Menu</h1><img id="logo" src="assets/images/logo_tin_whiskers.svg" /></div>
            
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Beverage(s)</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th class="hidden-fullscreen hidden-print">Available?</th>
                    <th class="hidden-fullscreen hidden-print th-with-btn">
                        <button href="#" class="btn btn-default navbar-btn fullscreen">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                        <button href="#" class="btn btn-default navbar-btn print">
                            <i class="fa fa-print"></i>
                        </button>         
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each beverages}}
                <tr class="{{show isAvailable}}">
                    <td class="name"> {{name}}</td>
                    <td> {{description}}</td>
                    <td> {{size}}</td>
                    <td> {{price}} </td>
                    <td class="hidden-fullscreen hidden-print"> {{isAvailable}}</td>
                    <td class="hidden-fullscreen hidden-print">
                        {{#if userCanEdit}}
                            <button href="/edit_beverage/{{_id}}" class="btn btn-default navbar-btn edit">Edit</button>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>        
    </div> <!-- end #ontap -->
</template>