<template name="beverages">
    <div id="beverages" class="drink-menu">
            <div id="logo-header"><h1>Beverage Menu</h1><img id="logo" src="assets/images/logo_tin_whiskers.svg" /></div>
            
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="hidden-fullscreen hidden-print">Available?</th>
                    <th>Beverage(s)</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Price</th>
                    {{#if userCanEdit}}
                        <th class="hidden-fullscreen hidden-print th-with-btn">
                            <button href="#" class="btn btn-default navbar-btn hidden-xs fullscreen">
                                <i class="fa fa-arrows-alt"></i>
                            </button>
                            <button href="#" class="btn btn-default navbar-btn hidden-xs print">
                                <i class="fa fa-print"></i>
                            </button>         
                        </th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each beverages}}
                <tr class="{{show isAvailable}}">
                    <td class="hidden-fullscreen hidden-print ontap-icon"> 
                        {{#if isAvailable}}
                            <span><i class="fa fa-3x fa-check-square"></i></span>
                        {{else}}
                            <span><i class="fa fa-3x fa-ban"></i></span>
                        {{/if}}
                    </td>
                    <td class="name"> {{name}}</td>
                    <td> {{description}}</td>
                    <td> {{size}}</td>
                    <td> {{price}} </td>
                    {{#if userCanEdit}}
                        <td class="hidden-fullscreen hidden-print">
                                <button href="/edit_beverage/{{_id}}" class="btn btn-default navbar-btn edit">Edit</button>
                        </td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
            </table>        
    </div> <!-- end #ontap -->
</template>