<template name="beer">
    <div id="beer" class="container swipe">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{name}}</h1>
                <div>
                    <div class="beer-stage">{{stage}}</div>
                    <div class="label label-default">{{style}}</div>
                </div>
            </div>
        </div>
        <div class="beer-details col-xs-8">
            <h3>Description</h3>
            <p>{{description}}</p>
            <h3>Mash Ingredients</h3>
            {{#each mash_ingredients}}
                <div>{{.}}</div>
            {{/each}}
            <h3>Boil Ingredients</h3>
            {{#each boil_ingredients}}
                <div>{{.}}</div>
            {{/each}}
            <h3>Fermentation</h3>
            {{#each fermentation}}
                <div>{{.}}</div>
            {{/each}}
        </div>
        <div class="col-xs-4">
            <h3> Stats</h3>
            <div class="beer-stats">
                <div>ABV%: {{abv}}</div>
                <div>SRM: {{SRM}}</div>
                <div>IBUs: {{IBU}}</div>
                <div>OG: {{OG}}</div>
                <div>FG: {{FG}}</div>
            </div>
        </div>
    </div>
</template>