 <template name="admin_menu">
    <header id="admin-menu" class="hidden-fullscreen hidden-print">
        <nav class="navbar navbar-default" role="navigation">
          <div class="admin-menu-buttons">
            {{#unless currentPageIs 'ontap'}}
              <button href="/ontap" class="btn btn-default navbar-btn">
                On Tap
              </button>
            {{/unless}}
            {{#if userCanEdit}}
              {{#if AddBeerBtn}}
                <button href="/addBeer" class="btn btn-default navbar-btn"> Add Beer</button>
              {{/if}}
              {{#if AddBevBtn}}
                <button href="/addBeverage" class="btn btn-default navbar-btn"> Add Beverage</button>
              {{/if}}
            {{/if}}
            {{#if isInRole 'admin'}}
              <button href="/admin" class="btn btn-default navbar-btn"> User Admin</button>
              <button href="/settings" class="btn btn-default navbar-btn"> Settings</button>
            {{/if}}

            {{#if currentUser}}
              <button href="/sign-out" class="btn btn-default navbar-btn pull-right">Sign Out</button>
            {{else}}
              <button href="/sign-in" class="btn btn-default navbar-btn pull-right">Sign In</button>
            {{/if}}
          </div>
        </nav>
    </header> 
 </template>
