 <template name="header">
    <header id="userHeader" class="hidden-fullscreen hidden-print">
        <nav class="navbar navbar-default" role="navigation">
          <div class="userHeaderButtonWrapper">
            <button href="/ontap" class="btn btn-default navbar-btn">
              On Tap
            </button>
            {{#if userCanEdit}}
              {{#if AddBeerBtn}}
                <button href="/add_beer" class="btn btn-default navbar-btn"> Add Beer</button>
              {{/if}}
              {{#if AddBevBtn}}
                <button href="/add_beverage" class="btn btn-default navbar-btn"> Add Beverage</button>
              {{/if}}
            {{/if}}
            {{#if isInRole 'admin'}}
              <button href="/admin" class="btn btn-default navbar-btn"> User Admin</button>
              <button href="/settings" class="btn btn-default navbar-btn"> Settings</button>
            {{/if}}
            {{#if currentUser}}
              <button href="/sign-out" class="btn btn-default navbar-btn">Sign Out</button>
            {{else}}
              <button href="/sign-in" class="btn btn-default navbar-btn">Sign In</button>
            {{/if}}
          </div>
        </nav>
    </header> 
 </template>
