.header {
  background: #000;
  .back-btn {
    float: left;
    color: white;
    margin-top: 16px;
    cursor: pointer;
    font-size: 24px;
  }
  .back-btn:hover, .back-btn:active {
    color: grey;
  }

}

#logo-header-lrg {
  h1 {
    color: #fff;
    padding-top: 16px;   //var?
    padding-left: 20px;  //var?
    font-size: 100px
  }
  #logo {
    max-height: 120px;
    padding-top: 10px;
  }
  .col-md-1 {
    margin-top: 8px;
  }
  .back-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

#logo-header-sm {
  height: 60px;
  #logo {
    padding-top: 3px;
    height: 55px;
    float: right !important;
  }
  .back-btn {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .col-xs-2 {
    padding-left: 0px;
  }
}

.back-btn {
  color: #ffffff;
  background-color: black;
  border-color: grey;
}
.back-btn:hover {
  color: black;
}