<template name="header_lrg">
    <div id="logo-header-lrg" class="header container-fluid">
        <div class="row">
            {{#if currentPageIs 'ontap'}} 
                <div class="col-sm-6">
                    <h1>Beer Menu</h1>
                </div>
            {{else}}
                <div class="col-sm-1">
                    <span class="btn back-btn"><i class="fa fa-arrow-left"></i></span>
                </div>
                <div class="col-sm-5">
                    <h1>Beer Menu</h1>
                </div>
            {{/if}}
            <div id="logo-col" class="col-sm-5">
                <img id="logo" class="img-responsive" src="/assets/images/logo_tin_whiskers.svg" />
            </div>
            <div class="col-sm-1 fullscreen-btn-col">
                {{#if userCanEdit}}
                <button href="#" class="btn btn-default navbar-btn hidden-xs fullscreen-btn">
                    <i class="fa fa-arrows-alt"></i>
                </button>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="header_sm">
    <div id="logo-header-sm" class="header container-fluid">
        <div class="row">
            <div class="col-xs-2">
                {{#unless currentPageIs 'ontap'}}
                    <span class="back-btn"><i class="fa fa-arrow-left"></i></span>
                {{/unless}}
            </div>
            <div class="col-xs-10">
                <img id="logo" class="img-responsive" src="/assets/images/white-robot.svg" />
            </div>
        </div>
    </div>
</template>