.userHeaderButtonWrapper {
  margin: 0px 15px;
}

#logo-header {
  background: #000;
  h1 {
    color: #fff;
    padding-top: 20px;   //var?
    padding-left: 20px;  //var?
    font-size: 100px
  }
  #logo {
    max-height: 120px;
    padding-top: 10px;
  }
}

#userHeader {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}