<template name="ontapMobile">
    <div id="ontap" class="ontap-mobile swipe">
        <div class="container beers">
            {{#each this}}
            <div href="/beer/{{_id}}" class="beer col-sm-12">
                <h1>
                    {{name}}
                </h1>
                <h2>Style: {{style}}</h2>
                <div class="ontap-status">{{#if ontap}}Now Serving {{/if}}</div>   
            </div>
            {{/each}}
        </div>
    </div> <!-- end #ontap -->   
</template>