<template name="ontap">
    <div id="ontap" class="drink-menu">

        <div id="logo-header" class="container-fluid">
            <div class="col-xs-5">
                <h1>Beer Menu</h1>
            </div>
            <div class="col-xs-7">
                <img id="logo" class="img-responsive" src="assets/images/logo_tin_whiskers.svg" />
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="hidden-fullscreen hidden-print">On Tap?</th>
                    <th class="beername first-col-fullscreen">Beer</th>
                    <th>Style</th>
                    <th class="hidden-xs">Stage</th>
                    <th class="hidden-xs">ABV</th>
                    <th class="th-with-subtitle hidden-xs">Growler<div class="th-subtitle">Container &#8226; Fill</div></th>
                    <th class="th-with-subtitle hidden-xs">Glass<div class="th-subtitle">Pint &#8226; 10oz &#8226; 4oz</div></th>
                    {{#if userCanEdit}}
                        <th class="hidden-fullscreen hidden-print hidden-xs th-with-btn">
                            <button href="#" class="btn btn-default navbar-btn hidden-xs fullscreen">
                                <i class="fa fa-arrows-alt"></i>
                            </button>
                            <button href="#" class="btn btn-default navbar-btn hidden-xs print">
                                <i class="fa fa-print"></i>
                            </button>         
                        </th>
                    {{/if}}
                </tr>
            </thead>
            <tbody id="beers-tbody">
                {{#each beers}}
                <tr class="{{show ontap}}">
                    <td class="hidden-fullscreen hidden-print ontap-icon"> 
                        {{#if ontap}}
                            <span><i class="fa fa-3x fa-check-square"></i></span>
                        {{else}}
                            <span><i class="fa fa-3x fa-ban"></i></span>
                        {{/if}}
                    </td>
                    <td class="name first-col-fullscreen" href="/beer/{{_id}}"> {{name}}</td>
                    <td class="style"> {{style}}</td>
                    <td class="hidden-xs"> {{stage}} </td>
                    <td class="hidden-xs"> {{abv}}</td>
                    <td class="price hidden-xs"> 
                        <span>${{growler_price}}</span> &#8226; <span>${{growler_fill}}</span>
                    </td>
                    <td class="price hidden-xs"> 
                        <span>${{pint_price}}</span> &#8226; <span>${{tulip_price}}</span> &#8226; <span>${{taster_price}}</span>
                    </td>
                    {{#if userCanEdit}}
                        <td class="hidden-fullscreen hidden-xs hidden-print">
                                <button href="/edit_beer/{{_id}}" class="btn btn-default navbar-btn edit"> Edit Beer</button>
                        </td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
            </table>
        </div>   
    </div> <!-- end #ontap -->
    <div id="other-items" class="visible-lg container-fluid">
        <div class="col-lg-6">
            <h2>Beer Flights</h2>
            <p class="price">Any 4 beers in 4oz tasting glasses: <span>$8.00</span></p>
        </div>
        <div class="col-lg-6">
            <h2>Credit Cards</h2>
            <p class="price">Minimum Charge: <span>$10.00</span></p>
        </div>    
    </div>
</template>